body {
    background-color: olive;
}

/* font-family: 'Shadows Into Light', ; */

h1 {
    font-family: 'Shadows Into Light';
    font-weight: bolder;
    font-size: 3rem;
}

p {
    font-family: 'Shadows Into Light'; 
}